name: 'Docker build (PR)'

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
    branches:
      - main

permissions:
  contents: read
  packages: write

env:
  UPX_VERSION: 5.0.1

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build on PR to main
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Get short SHA
        id: sha_short
        run: echo "sha_short=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            UPX_VERSION=${{ env.UPX_VERSION }}
          push: false
